<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-location" icon-on="ion-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!--&lt;!&ndash; Camera Tab &ndash;&gt;-->
  <!--<ion-tab title="Camera" icon-off="ion-camera" ng-click="openCamera()" icon-on="ion-camera">-->
    <!--<ion-nav-view name="tab-camera"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!-- note Tab -->
  <ion-tab title="Notes" icon-off="ion-edit" icon-on="ion-edit" c href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!--<ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/account/grid">-->
  <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" ng-click="check()">
    <ion-nav-view name="tab-account" animation="slide-left-right"></ion-nav-view>
  </ion-tab>


</ion-tabs>
