<ion-view view-title="Dashboard">
  <ion-nav-bar>
  </ion-nav-bar>
  <ion-content class="padding">

    <ion-list class="card">
      <ion-item class="item-image item-body">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="box yellow">
              <img src="img/ben.png" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow">
              <img src="img/ben.png" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow">
              <img src="img/ben.png" />
            </div>
          </ion-slide>
        </ion-slide-box>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </ion-item>
      <ion-item class="item-image item-body">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="box yellow">
              <img src="img/ben.png" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow">
              <img src="img/ben.png" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow">
              <img src="img/ben.png" />
            </div>
          </ion-slide>
        </ion-slide-box>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </ion-item>
    </ion-list>
    <ion-spinner></ion-spinner>
  </ion-content>
</ion-view>
