<ion-view view-title="Notes">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus-round" side="right" ng-click="newNote()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="row tabs-icon-bottom border-bottom">
      <a class="tab-item positive" ng-click="getAll()">
        <i class="icon ion-star"></i>
        Promote
      </a>

      <a class="tab-item {{chooseAll}}" ng-click="getPromote()">
        <i class="icon ion-grid"></i>
        All
      </a>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="note in notes" type="item-text-wrap" href="#/tab/notes/{{note.id}}">
        <img ng-src="{{note.face}}">
        <h2>{{note.name}}</h2>
        <p>{{note.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
