<ion-view view-title="个人信息">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-right" href="#">
        <!--<h2>Pretty Hate Machine</h2>-->
        <!--<p>Nine Inch Nails</p>-->

        <img class="float-right" src="../img/adam.jpg">

        <br>
        <br>
        头像
      </a>

      <a class="item" href="#/tab/name">
        名字
        <i class="ion-chevron-right float-right"></i>
        <span class="float-right">Paul King&nbsp</span>
      </a>

      <a class="item" href="#">
        地区
        <i class="ion-chevron-right float-right"></i>
        <span class="float-right">浙江绍兴&nbsp</span>
      </a>

      <a class="item" href="#">
        个性签名
        <i class="ion-chevron-right float-right"></i>
        <span class="float-right col col-66" style="word-break:normal;white-space:pre-wrap">"你们必晓得真理,真理必叫你们得以自由 你们必晓得真理"&nbsp</span>
        <!--<span style="word-break:normal;white-space:pre-wrap" class="float-right">你们必晓得真理,真理必叫你们得以自由 你们必晓得真理</span>-->
      </a>

    </div>
      <button class="button button-block button-assertive" ng-click="showConfirm()">
        退出
      </button>
  </ion-content>
</ion-view>
