<ion-view>
  <ion-content>
    <div class="border-bottom">
      <div class="row" align="center">
        <a class="col-20 item-avatar" href="#/tab/info">
          <img src="img/adam.jpg">
        </a>
        <div class="col-30 col-center text-center">
         Paul King
        </div>
      </div>

    </div>
    <div class="row tabs-icon-bottom">
        <a class="tab-item" href="#/tab/account/location">
          <i class="icon ion-location"></i>
          Location
        </a>
        <a class="tab-item" href="#/tab/account/grid">
          <i class="icon ion-grid"></i>
          Photos
        </a>
        <a class ="tab-item" href="#/tab/account/favorites">
          <i class="icon ion-android-favorite"></i>
          Favorites
        </a>
      </div>
      <ion-nav-view name="account-content" animation="slide-left-right">

      </ion-nav-view>
  </ion-content>
</ion-view>
