<ion-view view-title="Account">
  <ion-content>
    <ion-content>
      <ion-list>
        <div class="item item-avatar">
          <img src="img/mike.png">
          <h2>N4A</h2>
          <p>I'm a programmer</p>
        </div>

        <div class="row">
          <div class="col"><i class="ion-grid"></i></div>
          <div class="col"><i class="ion-happy"></i></div>
          <div class="col"><i class="ion-location"></i></div>
          <div class="col"><i class="ion-home"></i></div>
        </div>
      </ion-list>
      <div>
        <div class="row">
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
        </div>
        <div class="row">
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
          <div class="col"><img height="80px" src="img/adam.jpg" /></div>
        </div>
      </div>
  </ion-content>
</ion-view>
