/* Empty. Add your own CSS if you like */
#allmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin:0;
  font-family:"微软雅黑";
}
.background-grey{
  background: #fafafa;
}
body, html
{
  width: 100%;
  height: 100%;
  overflow: hidden;margin:0;
  font-family:"微软雅黑";
}
#panorama
{
  height: 50%;
  overflow: hidden;
}
#normal_map
{
  height:50%;
  overflow: hidden;
}
.neg-padding-top-10{
  padding-top: -10px;
}
.neg-margin-top-10{
  margin-top: -10px;
}
.font-size-small {
  font-size: smaller;
}
.font-size-large {
  font-size: larger;
}
.border-bottom {
  border-bottom: thin solid darkgray;
}
.padding-small{
  padding: 1px;
}
.float-right {
  float: right;
}
.color-red{
  color: red;
}
